<!-- <div *ngFor="let blog of blogs">

	<div class="container">
		<span class="left-circle">
			<img src="{{ blog.image }}" alt="Circle Image" />
		</span>
		<span class="right-content">
			<div class="date">{{ blog.date }} | {{ blog.author }}</div>
			<a href="{{ blog.link }}" class="title"
				><h2>{{ blog.title }}</h2></a
			>
			<p>{{ blog.description }}</p>
		</span>
		<button class="button" (click)="more(blog.link)">more</button>
	</div>
</div> -->

<main class="main">
	<h2 class="title">BLOG</h2>
	<section class="blogs" *ngFor="let blog of blogs">
		<div class="blog-container">
			<img src="{{ blog.image }}" alt="Author image" class="author-img" />
			<article class="blog-details" (click)="more(blog.link)">
				<div class="geo-time-group">
					<span>{{ blog.date }}</span> |
					<span>{{ blog.author }}</span>
				</div>
                <h3 class="blog-name">{{ blog.title }}</h3>
                <p class="blog-description">{{ blog.description }}</p>
			</article>
			<a class="btn-outline" href="{{ blog.link }}" target="_blank" >more</a>
		</div>
	</section>
</main>
