// .container {
//     display: grid;
//     grid-template-columns: 1fr 4fr 1fr;
//     position: relative;
//     gap: 3rem;
//     margin: 5%;
//     padding: 5%;
//     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

//     &:hover {
//         box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;         
//     }

//     &::before {
//         content: "";
//         position: absolute;
//         left: 0;
//         top: 0;
//         width: 5px;
//         height: 100%;
//         transition: background-color 0.5s;
//         background-color: transparent;
//     }   
//     &:hover:before{
//         background-color: #A01441; 
//     }
// }
  
// .left-circle {
//     max-width: 5rem;
//     max-height: 5rem;

//     img {
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//         border-radius: 50%;
//     }
// }

// .right-content {

//     .date {
//         font-size: 0.9em;
//     }

//     a {
//         color: #A01441;
//         text-decoration: none;
//         display: block;
//         margin-bottom: 10px;
//     }

//     h2 {
//         color: #A01441;
//     }

//     p {
//         color: #A01441;
//     }

// }

// // .button {

// //     display: flex;
// //     justify-content: flex-end;
// //     align-items: center;
// //     margin: 0.5rem 1rem;

// //     &-more {
// //         display: flex;
// //         justify-content: center;
// //         align-items: center;
// //         cursor: pointer;
// //         background-color: transparent;
// //         color: #A01441;
// //         border: 3px solid #A01441;
// //         width: 3rem;
// //         height: 2rem;
// //         padding: 1rem 2rem;
// //         border-radius: 20px;
// //         transition: background-color 0.5s, color 0.5s;
// //         &:hover {
// //             background-color: #A01441;
// //             color: white;
// //         }
// //     }
// // } 




.main {
    padding-inline: 15rem;
}


.title {
	color: var(--primary-clr);
	position: relative;
	font-size: 1.8rem;
	font-weight: 700;
	margin-bottom: 5rem;
}

.blogs {
	margin-bottom: 2rem;
}

.blog-container {
	display: grid;
	grid-template-columns: .8fr 4fr 1fr;
	text-align: start;
	place-items: center;
	height: 13rem;
	box-shadow: 0 0 5px 3px var(--neutral-200);
	transition: box-shadow 300ms ease-in-out;
	position: relative;
}

.blog-container:hover {
	box-shadow: 0 0 10px 3px var(--neutral-400);
}

.blog-container:before {
	content: "";
	position: absolute;
	height: 100%;
	width: 5px;
	background: var(--primary-clr);
	left: 0;
	top: 0;
	opacity: 0;
	transition: opacity 300ms ease-in-out;
}

.blog-container:hover::before {
	opacity: 1;
}

.author-img {
    max-width: 5rem;
    border-radius: 100%;
    place-self: center;
}

.blog-details {
	cursor: pointer;
	text-align: start;
	position: relative;
    justify-self: flex-start;
}

.geo-time-group {
	display: flex;
	gap: 0.4rem;
	color: var(--neutral-600);
	font-weight: 300;
	font-size: 0.9rem;
}

.blog-name {
	font-size: 1.2rem;
	color: var(--primary-clr);
    margin-top: 0;
}

.blog-description {
	font-weight: 300;
}

.btn-outline {
	bottom: 0;
	right: 0;
	margin-right: 2rem;
	margin-bottom: 1rem;
}
