<div class="main-container">

    <main class="main">
        <div class="content-group">
            <h2 class="title">
                <span class="title-red">We work with</span> <br />Passion
            </h2>
            <p class="details">
                We are a <b>system integrator</b>,
                <b>software development partner</b>, and
                <b>managed services provider</b> that helps companies improve their
                operational efficiency and decision-making capabilities utilizing
                <b>SAP® technology</b>.
            </p>
            <a class="btn-outline" href="https://www.msg-global.com/services" target="_blank"
                >Our services</a
            >
        </div>
        <div class="card-group">
            <div class="card-stack">
                <div class="card">
                    <img src="../../assets/images/end-to-end.svg" alt="icon" />
                    <h3 class="card-title">End-to-end Insurance Services</h3>
                    <p class="card-details">Optimize. Automate. Simplify.</p>
                    <p class="card-flip-details">
                        Unleash the power of integration in core business
                        processing, reporting, analytics, and customer engagement in
                        a single platform.
                    </p>
                </div>
    
                <div class="card">
                    <img src="../../assets/images/business-tech.svg" alt="icon" />
                    <h3 class="card-title">Business Technology Services</h3>
                    <p class="card-details">Consulting. Maintenance. Support.</p>
                    <p class="card-flip-details">
                        Drive value with application maintenance services and
                        consulting development using state-of-the-art technologies.
                    </p>
                </div>
            </div>
            <div class="card">
                <img src="../../assets/images/sustainable.svg" alt="icon" />
                <h3 class="card-title">Sustainability Advisory Services</h3>
                <p class="card-details">Explore. Implement. Report.</p>
                <p class="card-flip-details">
                    Transform your business with the right sustainability advice to
                    unlock insights across all reporting requirements.
                </p>
            </div>
        </div>
    </main>

    <div class="container">
        <div class="left-container">
            <h1 class="text">Why msg global?
            <br>
            <strong style="color: black;">People</strong>
            </h1>
            <p class="msg-left">
                With our <b>passion</b>, our <b>people</b>, and our genuine desire to achieve operational improvements, we want to see our clients accomplish their <b>performance</b> objectives.
            </p>
            <button class="about-us" (click)="more('https://www.msg-global.com/about-us')">About us</button>
        </div>
        <div class="main-container">
            <h2 class="text2">With Passion</h2>
            <p class="main-paragraph"><b>we create the best experience.</b></p>
            <div class="image-div">
                <span class="img"><img id="photo-main" src="https://www.msg-global.com/images/2023/04/13/7f1374fb-526c-48c0-8163-1-min.png" alt="Photo"></span>
            </div>
            <div class="main-container-add">
                <p class="text-main-container-add">Where <strong>people</strong> are the heart of the company.</p>
                <button class="button-main-container-add" (click)="more('https://careers.msg-global.com/')">Career site</button>
            </div>
        </div>
        <div class="right-container">
            <div class="top-right-container">
                <p class="right-paragraph">What our <span class="red-text">People</span> love about <span class="red-text">msg global</span></p>
            </div>
    
            <div class="main-right-container">
                <img src="https://www.msg-global.com/images/2023/04/14/243274906_4997772626917899_1290633649626799624_n.jpg" alt="We are hiring photo">
                <a href="https://careers.msg-global.com/search/?createNewAlert=false&q=&locationsearch=&optionsFacetsDD_country=&optionsFacetsDD_location=&optionsFacetsDD_customfield1=" class="btn">Job openings</a>
            </div>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <div class="bottom-right-container">
                <h3 class="follow-us">Follow us</h3>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/company/msg-global/mycompany/verification/" class="icon-link">
                        <fa-icon [icon]="linkedin"></fa-icon>
                    </a>
                    <a href="https://www.instagram.com/we_are_msg_global/" class="icon-link">
                        <fa-icon [icon]="instagram"></fa-icon>
                    </a>
                    <a href="https://twitter.com/msg_global" class="icon-link">
                        <fa-icon [icon]="twitter"></fa-icon>
                    </a>
                    <a href="https://www.facebook.com/msgglobal" class="icon-link">
                        <fa-icon [icon]="facebook"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="second_container">
        <div class="left-second-container">
            <img src="https://www.msg-global.com/images/2023/04/25/sap_pinnacle_w23c-min.png" alt="SAP">
            <h2>2020 SAP Pinnacle Awards Winner</h2>
            <p>We are honored to have received the Solution Extensions Partner of the Year - Digital Core Award for the development of complementary software that provides technological innovation, market impact, and demonstrates business impact for the customer.</p>
        </div>
        <div class="right-second-container">
            <div id="p1">
                <p>We believe SAP provides the best enterprise software to help companies transform data into actionable insights.</p>
            </div>
            <div id="p2">
                <h2 class="why-wait">Why wait?
                    <br>
                    <strong style="color: black;">Contact us today</strong>
                </h2>
            </div>
            <div id="p3">
                <p>We’ll work with you to help you understand all your options and select the solutions that best suit your needs to get your business running the way you want it to run.</p>
            </div>
            <div class="btn-second-container">
                <button class="get-in-touch" (click)="more('https://www.msg-global.com/')">Get in touch</button>
                <img src="https://www.msg-global.com/images/2022/06/14/SAP_Silver_Partner_215x126.webp" alt="SAP2">
            </div>
        </div>
    </div>

</div>
